.clearfix:before,
.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
/* Include this rule to trigger hasLayout and contain floats for IE 6/7 */
.clearfix {*zoom: 1;}

.hide {display:none;}

.post-type-projecten .dashicons {cursor:pointer;}
.english {background-image: url(http://soda.nl/wp-content/plugins/qtranslate-x/flags/gb.png);background-repeat: no-repeat;background-size: 10px;}
.dutch {background-image: url(http://soda.nl/wp-content/plugins/qtranslate-x/flags/nl.png);background-repeat: no-repeat;background-size: 10px;}
.mce-container-body.english::before {content: url(http://soda.nl/wp-content/plugins/qtranslate-x/flags/gb.png);}
.mce-container-body.dutch::before {content: url(http://soda.nl/wp-content/plugins/qtranslate-x/flags/nl.png);}
.initial-lang-nl .english, .initial-lang-en .dutch {display:none;}

.thumb-container {float:left;width:25%;min-height:200px;background-color:#eee;margin-right: 10px;}
.thumb-container img {width:100%;height:auto;}

input[type="button"] {margin:5px;}
fieldset {padding:10px;}
label {min-width: 100px;display: inline-block;}
label, legend {font-weight:bold;}
.textarea {border:1px solid black;background-color:white;width:500px;height:auto;min-height:300px;padding:5px;}
.textarea.active {border-color:#da0a0a;}

.anchor {border-bottom:1px solid #000;padding:2%;}
.anchor:last-child {border:none;}
.anchor-buttons li {float:left;margin-right:7px;}
.anchor-header {background-color: #fff;padding: 5px;}
.anchor-title {width:100%;}
.anchor-item {padding: 15px 0 15px 0;margin: 15px 0 15px 0;border-bottom: 1px solid #ccc;}
.admin-anchors-container .selected {
	background-color:#f9f9f9;
}
.admin-anchors-container .anchor-item.selected {
	-webkit-box-shadow: 0 0 1px rgba(0, 103, 253, 1);
	-moz-box-shadow: 0 0 1px rgba(0, 103, 253, 1);
	box-shadow: 0 0 1px rgba(0, 103, 253, 1);
}
.anchor-placeholder {border:2px dotted #ccc;display:block;width:100%;height:90px;background:#eee;}

.admin-linker-kolom-container {background:#fff;}

.add-remove-anchor, .empty-left-column {float:right;}
.add-remove:not(.empty-left-column) {position:absolute;}
.add-remove, .add-remove-anchor {background-color:#eee;color:black;}
.add-remove:hover, .add-remove-anchor:hover {color:#f44336;}
.minify {float: left;}
.delete {float:right;}
.delete-anchor-item {margin-top:-15px;}
.remove_image {display:block;cursor:pointer;}

#postimagediv, .post-type-projecten #postdivrich, .post-type-plus #postdivrich, .post-type-post #postdivrich, .post-type-bureau #postdivrich {display:none;}