/*
Theme Name: soda.nl
Description: Theme for soda.nl.
Version: 1.0
Author: Joris Lindhout
Author URI: http://www.grok-projects.com

License: MIT
License URI: http://opensource.org/licenses/mit-license.php
*/


/*
 * TYPE
 */
.ITCFranklinGothicStd-Book { 
	font-family: ITCFranklinGothicStd-Book;
	font-weight: normal;
	font-style: normal;
}
.ITCFranklinGothicStd-Demi { 
	font-family: ITCFranklinGothicStd-Demi;
	font-weight: normal;
	font-style: normal;
}
body {font-family:ITCFranklinGothicStd-Book;font-size:16px;}
#main_menu, .logo h1 {font-size:58px;line-height:1em;font-weight:normal;}
#main_menu .submenu {font-size:23px;line-height: 1.1em;}
#main_menu .submenu.active, #main_menu .submenu li.active > a {font-size:29px;}
.musea #main_menu .musea > a, .exposities #main_menu .exposities > a, .bedrijven-instellingen #main_menu .bedrijven-instellingen > a, .particulieren #main_menu .particulieren > a {font-size:29px;}

.caption {font-size:23px;}

.anchor h3 {font-size:29px;font-weight:normal;}
.anchor h4 {font-size:18px;font-weight:normal;}
.anchor h5 {font-size:12px;font-weight:normal;}
.left-column.quote {font-size:39px;}

.more-text, .less-text {font-size:16px !important;text-decoration:none !important;}
#nav .dashicons-menu, #nav .dashicons-no-alt {font-size: 39px;}


/*
 * GENERAL
 */
a,a:hover,a:visited {text-decoration:none;}
a:hover {}
a:visited {}

ul {list-style-type:none;margin:0;padding:0;}
li {margin:0;padding:0;}
	
div p:first-child {margin-top:0;}

.logo {}
.hide {display:none;}
.transparent {opacity:0;}

.clearfix {display:block;clear:both;}
.clearfix:before,
.clearfix:after {content: " ";display: table;}
.clearfix:after {clear: both;}
/* Include this rule to trigger hasLayout and contain floats for IE 6/7 */
.clearfix {*zoom: 1;}


/*
 * COLORS
 */
/* Background */
.zalm {background:rgb(221,186,161);}
.blauwgrijs {background:rgb(122,146,164);}
.groen {background:rgb(185,193,146);}
.horizontal-line.bureau {background:rgba(221,186,161,0.5);}
.horizontal-line.contact {background:rgba(185,193,146,0.5);}
.center-line, .center-line.plus {background-color: rgba(122,146,164,0.5);}

/* Text */
body {color:#000;}
a,a:hover,a:visited {color:#000;}
.anchor a, #anchor a, .more-text, .less-text, #content a {color:rgb(221,186,161) !important;text-decoration:underline;} /*:not(#anchor .image-txt.caption a)*/
.menu-item > a:hover, .menu-item.active > a, .current-menu-item > a {color:rgb(122,146,164);}
.menu-item > a.plus_menu:hover, .menu-item.active > a.plus_menu {color:rgb(221,186,161);}

.image-txt .small, .image-txt .slide, .image-txt.caption, .anchor .image-txt.caption a, #anchor .image-txt.caption a {color:#fff;}
.image-txt .small-img-left, .image-txt .small-img-text-right {color:#000;}

/* LAY OUT */
body {width:100%;overflow-x: hidden;}
#content-wrapper {max-width:992px;margin:25px auto;}
.wrapper {position: absolute;left:50%;top:75px;max-width:50%;z-index: 1;}/*max-width: 635px;*/

.anchor .img-container, .video-embed {overflow:hidden;}

.anchor {position: relative;z-index:2;margin-bottom:24px;}
.anchor h3 {margin:0;}
.anchor h4, .anchor h5 {display:inline;}

.center-line {height:100%;width:30px;z-index:3;position: fixed;top: 0;left: 50%;margin-left: -15px;}
.center-line.mobile-header-line {height:45px;}
.horizontal-line {position: fixed;width: 100%;left: 0;z-index: 3;height: 30px;}
.horizontal-line.bureau {top:157px;}
.horizontal-line.contact {top:215px;}
.horizontal-line.plus {top:272px;}

.img-container {position:relative;margin-bottom:30px;}
.img-container.small img {float:left;}
.img-container.small img:nth-child(2) {margin-left:12px;}

.img-container.left {margin-left: -35px;}
.img-container.behind {}
.img-container.right {margin-left:35px;}
	
.image-txt {margin:0 24px 12px 0;clear: both;}
.image-txt.static {clear: both;min-height:30px;}
.image-txt .slide {}
/*.image-txt div:not(.hide) {display:inline;}*/
.image-txt.caption {position:absolute;top: 0;padding: 5px;}
.image-txt.caption.medium {width:460px;}
.image-txt.caption.small {width:220px;}
.image-txt .small {position:absolute;width:230px;float:left;}
.image-txt .small-img-text-right {margin-left:242px;}
	
.image-txt.behind {}
.image-txt.right:not(.image-txt.right.caption) {margin-left:35px;}

.left-column {position:fixed;width: 450px;margin-left: -50%;padding-left: calc((100% - 992px)/2);opacity:0;}
.left-column.small-image {width:auto;}
.left-column {top:500px;} /*.quote*/
.left-column > img {margin-left:-30px;}
.home .left-column, .left-column:first-child {opacity:1;}
.left-column .image-left-side {position: fixed;top: 0;left: 0;height: 100%;width:150px;overflow:hidden;}
.left-column .image-left-side img {height:100%;width:auto;min-width:150px;}

#content {position:relative;z-index:2;}

/* HEADER */
.logo {display:none;}
header {z-index: 2;position:fixed;}

/* MENU */
#main_menu a {white-space: nowrap;cursor:pointer;}
#mobile-nav {display: none;}
/*.menu-item.active {padding-left:29px;}*/
#main_menu li.active > a:before, .current-menu-item > a:before, .single-plus .plus_menu:before {content:'\00a0';}
.menu-item .submenu.level-1 {display:none;}
.menu-item.current-menu-item .submenu.level-1 {display: block;}
.musea .musea > ul, .exposities .exposities > ul, .bedrijven-instellingen .bedrijven-instellingen > ul, .particulieren .particulieren > ul {display:block;}

.menu-item.active .submenu.level-1 {display:block;}
.submenu.level-1 {position:absolute;margin:-35px 0 0 200px;}
.submenu.level-2, .submenu.level-3 {margin-left:15px;}
.submenu.level-2, .submenu.level-3 {display:none;}
li.active li.active .submenu.level-2, li.active li.active li.active .submenu.level-3, .plus .active .submenu.level-2 {display:block;}
.categories li > a {text-transform:lowercase;}
.projects li > a {text-transform:none;}

.language-chooser-small {display:none;}
.language-chooser {margin:-30px 0 10px 270px;}
.language-chooser li {display:inline;}
.language-chooser li.active a {text-decoration:underline;}
.language-chooser li:first-child:after {content:' / ';}

/* */
.anchor a, .anchor .image-txt.caption a, #anchor .image-txt.caption a {text-decoration:underline;}
.more-text, .less-text {cursor:pointer;}
.more-text:before, .less-text:before {content:'\00a0\00a0';}


/* FOOTER */



/* FORM ELEMENTS */


/* RESPONSIVE */
@media all and (max-width: 1015px) {
	.img-container.small img {float:none;display:block;}
	.img-container.small img:nth-child(2) {margin:10px 0 0 0;}
	.image-txt .small {
		position: relative;
	    float: none;
	    height: auto;
	    margin: 0;
	    padding: 0;
	}
	.image-txt .small-img-text-right {margin:0;}
	.image-txt .small br {display:none;}
	/*.image-txt .small-img-text-right {display:none;}*/
}

@media all and (max-width: 769px) {

	/*
	 * TYPE
	 */
	#main_menu, .logo h1 {font-size:40px;}
	#main_menu .submenu {font-size:29px;}
	#main_menu .submenu.active, #main_menu .submenu li.active > a {font-size:29px;}
	.anchor h3 {font-size:18px;font-weight:normal;}
	.anchor h4 {font-size:17px;font-weight:normal;}
	
	.mobile-nav {
		display: inline-block;
		position: absolute;
	    right: 0;
	    top: 0;
	    padding-top: 5%;
	}
	.mobile-nav span {
	    background: #000;
	    border-radius: 2px;
	    display: block;
	    height: 2px;
	    margin-top: 4px;
	    padding: 0;
	    position: relative;
	    transition: all 0.2s ease;
	    width: 25px;
	}
	.mobile-nav.active span:nth-of-type(1) {
	    -webkit-transform: rotate3d(0, 0, 1, 45deg);
	    transform: rotate3d(0, 0, 1, 45deg);
	    top: 4px;
	}
	.mobile-nav.active span:nth-of-type(2) {
	    opacity: 0;
	}
	.mobile-nav.active span:nth-of-type(3) {
	    -webkit-transform: rotate3d(0,0,1,-45deg);
	    transform: rotate3d(0,0,1,-45deg);
	    top: -9px;
	}
	#nav ul.menu {display:none;position:absolute;left:0;background:#fff;width:100%;}
	
	#nav .dashicons-menu {transform: scale(2,1);-webkit-transform: scale(2,1);display: inline-block;}
	
	header {left:5%;width: 90%;top: 0;padding:5% 0 3% 0;height: 25px;background: white;}
	.logo {display:block;}
	.logo h1 {margin:0;}
	.submenu.level-1 {position:relative;margin:0;}
	.language-chooser-small {display:block;}
	.language-chooser-small .language-chooser {margin: -30px 30px 0px 0px;float:right}
	.language-chooser-large, #nav-menu-item-229, li.active li.active li.active .submenu.level-3 {display:none;}
	
	#breadcrumbs {position:fixed;display:block;z-index:9;padding:4% 0 10px 0;margin:-20px 0 10px 0;width:90%;background-color:white;}
		
	.wrapper {left:5%;top: 75px;width:90%;max-width:90%;}
	.img-container.left {margin-left: 0;}
	.img-container.right {margin-left:0;}
	.img-container img {width:100%;height:auto;}
	.anchor img, #anchor img {width:100%;height:auto;}
	.anchor .img-container.small img, #anchor .img-container.small img {width:48%;height:auto;}
	.video-embed {text-align:center;}
	.video-embed iframe {max-width: 100%;}
	
	.img-container.small img {float:left;}
	.img-container.small img:nth-child(2) {margin:0 0 0 12px;}
	.image-txt .small {position:absolute;width:230px;float:left;}
	.image-txt .small-img-text-right {margin-left:50%;}
	
	.image-txt .small {width:48%;}
	/*.image-txt .small-img-text-right {margin-left:48%;}*/
	.image-txt.right {margin-left:0;}
	
	.left-column {display:none;}
}

@media all and (max-width: 750px) {
	#main_menu, .logo h1 {font-size:35px;}
	#main_menu .submenu {font-size:20px;}
	#main_menu .submenu.active, #main_menu .submenu li.active > a {font-size:26px;}
	.anchor h3 {font-size:26px;font-weight:normal;}
	.anchor h4 {font-size:22px;font-weight:normal;}
}
		
@media all and (max-width: 740px) {
	#main_menu, .logo h1 {font-size:30px;}
	#main_menu .submenu {font-size:16px;}
	#main_menu .submenu.active, #main_menu .submenu li.active > a {font-size:18px;}
	.anchor h3 {font-size:18px;font-weight:normal;}
	.anchor h4 {font-size:17px;font-weight:normal;}
}

@media all and (max-height: 700px) {
	/*.left-column {display:none;}*/
}
